@import 'abstracts';
$progress-color: $pink;

:global {
  #nprogress {
    .bar {
      background: $progress-color;
    }

    .peg {
      box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color;
    }

    .spinner {
      display: none;
    }

    .spinner-icon {
      border-top-color: $progress-color;
      border-left-color: $progress-color;
    }
  }
}
